<!DOCTYPE html>
<html>
<head>
    <title>View Uploads</title>
    <style>
        img {
            max-width: 200px;
            max-height: 200px;
        }
    </style>
</head>
<body>
    <h1>Uploaded Images</h1>

    <a href="{{ url_for('homepage') }}">Return to Homepage</a>

    {% for folder, image_paths in images.items() %}
        <h2>{{ folder }}</h2>  
        {% for path in image_paths %}
            <a href="{{ path }}" target="_blank">
                <img src="{{ path }}" alt="Uploaded image">
            </a>
        {% endfor %}
    {% endfor %}
    
</body>
</html>